/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(41, 36, 36, 0.932);
    margin: 0;
    font-family: 'Rubik', sans-serif;
    padding: 20px;
}

.background-image {
    background-image: url('../IMG/WALL/cobblemon-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed; /* Fixe l'élément à la fenêtre, de sorte qu'il reste en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'élément en arrière-plan */
}

.background-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363); /* Couleur sombre semi-transparente */
    z-index: 0; /* Assurez-vous que le pseudo-élément est en dessous de l'image de fond */
}

.modpack-title-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.modpack-title {
    color: white;
    font-size: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cat-header {
    padding: 20px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 700px;
    margin-top: 20px;
    z-index: 100;
    position: sticky;
    top: 0;
}

.scroll{
    border-radius: 3px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cat-header-content{
    display: flex;
}

.all-mods {
    backdrop-filter: blur(5px);
    background-color: rgba(41, 36, 36, 0.5);
    padding: 20px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 700px;
    border-radius: 3px;
    margin-top: 10px;
}

.list {
    max-width: 600px;
    margin: auto;
    padding: 0;
}

.list-cat-title {
    color: rgb(255, 224, 0);
    padding: 10px;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.list-content {
    border-radius: 3px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.cat-content {
    display: flex;
}

.cell {
    text-align: center;
    flex: 1;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-header-title {
    background-color: rgb(58, 22, 52);
    border-bottom: solid 1px;
    border-bottom-color: rgb(255, 224, 0);
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}

.element {
    
    background: rgba(255, 255, 255, 0.13);
    min-width: 100%;
    width: fit-content;
    font-size: 10px;
    text-align: center;
    transition: .2s;
}

.element:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.171);
}

.element:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.element-image{
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin: 5px;
    transition: transform 0.2s;
}

.element:hover .element-image {
    transform: scale(1.2);
}

.element-name{
    color: white;
}

.element-type{
    color: rgb(170, 170, 170);
}

.element-desc{
    color: rgb(170, 170, 170);
}

.element-version{
    color: rgb(170, 170, 170);
}

.element-link{
    color: rgb(255, 224, 0);
    text-decoration: none;
    transition: 0.2s;
}

/* width */
::-webkit-scrollbar {
    width: 100%;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
    border-radius: 2px;
}

#show-hide-form {
    position: fixed;
    bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px rgb(148, 148, 148);
    font-size: 30px;
    transition: all 0.2s ease;
}

#show-hide-form:active{
    box-shadow: 0 3px rgb(148, 148, 148);
    transform: translateY(2px);
}

#add-mod-form {    
    z-index: 150;
    backdrop-filter: blur(5px);
    background-color: #09463ae7;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    border-radius: 5px;
    width: 250px;
    left: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; /* Initialisez l'opacité à 0 pour qu'il soit initialement caché */
    transform: translateY(20px); /* Initialisez la transformation pour qu'il soit initialement décalé vers le bas */
    pointer-events: none; /* Empêche les interactions avec le formulaire caché */
}

#add-mod-form.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.add-mod-title
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-mod-line
{
    margin-bottom: 15px;
    border: 2px dashed;
    color: white;
}


.field{
    padding: 8px;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	color: #ffffff;
	font-size: 13px;
    border: none;
    outline: none;
    background-color: #00000018;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.486);
}

.field:focus {
    outline: 2px dashed #ad2b89;
    outline-offset: 0.2em;
}

.select-dropdown {
    cursor: pointer;
    padding: 8px;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	color: white;
	font-size: 13px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 
    rgba(0, 0, 0, 0.329) 0px 2px;
}

option {
    font-size: 13px;
    background-color: #0d6654e7;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

#alert-category-not-select {
    color: rgb(255, 0, 0);
    position: absolute;
    margin-bottom: 30px;
    font-size: 9px;
    top: 48px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.466);
}

input:focus::placeholder {
    color: transparent;
}

.add-mod-alert {
    background: #12866fa6;
    color: rgba(255, 255, 255, 0.719);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
}

#add-new-category {
    height: 35px;
    width: 150px;
    right: -150px;
    background-color: #0f6957e7;
    position: absolute;
    box-shadow: inset 1px 0px 4px 0px #0000007e;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.input-new-category {
    position: absolute;
	border-radius: 3px;
	color: #ffffff;
	font-size: 11px;
    border: none;
    outline: none;
    background-color: #00000018;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.486);
    width: 110px;
    height: 25px;
    top: 5px;
    left: 5px;
    text-align: center;
}

.new-category-button {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 4px;
    right: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #168d75e7;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 2px;
    cursor: pointer;
}

.new-category-button:active{
    box-shadow: 0 1px rgba(0, 0, 0, 0.329);
    transform: translateY(1px);
}

.all-alter-btn {
    width: 100%;
    justify-content: space-between;

}

.alter-btn {
    height: 25px;
    width: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.315);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: 0.2s;
}

.alter-btn:hover {
    background: rgba(255, 255, 255, 0.555);
}

.alter-btn:active {
    background: rgba(255, 255, 255, 0.815);
}

.alter-icon {
    height: 15px;
    width: 15px;
    color: white;
}

.modpack-board {
    color: white;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.527);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 520px;
    top: 201px;
    border-radius: 3px;
    padding: 20px;
    font-size: 12px;
}

.board-alter-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.board-element {
    margin-top: 10px;
}

.board-sections {
    padding: 8px;
    width: 200px;
    background: rgba(136, 136, 136, 0.199);
}

.board-alter-btn {
    height: 30px;
    width: 100%;
    color: white;
    background-color: rgba(65, 65, 65, 0.555);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.board-alter-btn:hover {
    background-color: rgba(104, 104, 104, 0.555);
}

.board-alter-btn:active {
    background-color: rgba(165, 165, 165, 0.555);
}

.return-btn {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    margin-right: 300px;
    top: 78px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}